<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="whatsapp-messages">
        <classes>
            <class name="edu.rakeshvardan.SendMessage">
                <methods>
                    <include name="potti"/>
<!--                    <include name="shilpa"/>-->
<!--                    <include name="telenorGroup"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>